[submodule "vendor/github_vim_theme"]
	path = vendor/github_vim_theme
	url = https://github.com/nono/github_vim_theme.git
[submodule "vendor/mysqlpager"]
	path = vendor/mysqlpager
	url = https://github.com/romuald/mysqlpager.git
[submodule "vendor/vim-rails"]
	path = vendor/vim-rails
	url = https://github.com/nono/vim-rails.git
[submodule "vendor/jquery.vim"]
	path = vendor/jquery.vim
	url = https://github.com/nono/jquery.vim.git
[submodule "vendor/vim-coffee-script"]
	path = vendor/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vendor/vim-jade"]
	path = vendor/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vendor/gocode"]
	path = vendor/gocode
	url = https://github.com/nsf/gocode
[submodule "vendor/supertab"]
	path = vendor/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vendor/zsh-completions"]
	path = vendor/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "vendor/mozilla.vim"]
	path = vendor/mozilla.vim
	url = git://github.com/mozfr/mozilla.vim.git
[submodule "vendor/yeoman-zsh-plugin"]
	path = vendor/yeoman-zsh-plugin
	url = https://github.com/edouard-lopez/yeoman-zsh-plugin.git
[submodule "vendor/vim-elixir"]
	path = vendor/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vendor/unite.vim"]
	path = vendor/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "vendor/vimproc"]
	path = vendor/vimproc
	url = http://github.com/Shougo/vimproc
[submodule "vendor/vim-syntax-vcl"]
	path = vendor/vim-syntax-vcl
	url = https://github.com/pld-linux/vim-syntax-vcl.git
[submodule "vendor/gosu-colors"]
	path = vendor/gosu-colors
	url = https://github.com/mgutz/gosu-colors.git
[submodule "vendor/vim-toml"]
	path = vendor/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vendor/yajs"]
	path = vendor/yajs
	url = https://github.com/othree/yajs.vim.git
