[submodule "vendor/merb.vim"]
	path = vendor/merb.vim
	url = git://github.com/nono/merb.vim.git
[submodule "vendor/vim-rails"]
	path = vendor/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vendor/github_vim_theme"]
	path = vendor/github_vim_theme
	url = git://github.com/nono/github_vim_theme.git
[submodule "vendor/vim-haml"]
	path = vendor/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vendor/vim-javascript"]
	path = vendor/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vendor/fuzzyfinder_textmate"]
	path = vendor/fuzzyfinder_textmate
	url = git://github.com/viperinthought/fuzzyfinder_textmate.git
[submodule "vendor/vim-markdown"]
	path = vendor/vim-markdown
	url = git://github.com/hallison/vim-markdown.git
[submodule "vendor/vim-markdown-preview"]
	path = vendor/vim-markdown-preview
	url = https://github.com/robgleeson/vim-markdown-preview.git
[submodule "vendor/mysqlpager"]
	path = vendor/mysqlpager
	url = https://github.com/romuald/mysqlpager.git
