[submodule "vendor/github_vim_theme"]
	path = vendor/github_vim_theme
	url = https://github.com/nono/github_vim_theme.git
[submodule "vendor/mysqlpager"]
	path = vendor/mysqlpager
	url = https://github.com/romuald/mysqlpager.git
[submodule "vendor/syntastic"]
	path = vendor/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vendor/vim-haml"]
	path = vendor/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vendor/vim-javascript"]
	path = vendor/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vendor/vim-rails"]
	path = vendor/vim-rails
	url = https://github.com/nono/vim-rails.git
[submodule "vendor/jquery.vim"]
	path = vendor/jquery.vim
	url = https://github.com/nono/jquery.vim.git
[submodule "vendor/vim-coffee-script"]
	path = vendor/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vendor/vim-jade"]
	path = vendor/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vendor/vim-handlebars"]
	path = vendor/vim-handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "vendor/gocode"]
	path = vendor/gocode
	url = https://github.com/nsf/gocode
[submodule "vendor/supertab"]
	path = vendor/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vendor/zsh-completions"]
	path = vendor/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "vendor/mozilla.vim"]
	path = vendor/mozilla.vim
	url = git://github.com/mozfr/mozilla.vim.git
[submodule "vendor/yeoman-zsh-plugin"]
	path = vendor/yeoman-zsh-plugin
	url = https://github.com/edouard-lopez/yeoman-zsh-plugin.git
[submodule "vendor/vim-elixir"]
	path = vendor/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vendor/unite.vim"]
	path = vendor/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "vendor/vimproc"]
	path = vendor/vimproc
	url = http://github.com/Shougo/vimproc
