[Unit]
Description=MailHog Email Catcher
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/home/nono/go/bin/MailHog
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
